.main {
    background-color: #FDECEC;
}

.main {
    padding: 61px;
}

.main-image {
    width: 100%;
    max-width: 591px;
    height: auto;
}

.main-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-info {
    display: flex;
    flex-direction: column;
    gap: 38px;
    max-width: 550px;
    width: 100%;
}

.main-info_title {
    font-size: 75px;
    font-weight: bold;
    line-height: 1.2;
}

.main-info_subtitle {
    font-size: 20px;
    font-weight: 500;
    color: #787878;
}

@media (max-width: 768px) {
    .main-wrapper {
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
    .button {
        align-self: center;
    }
    .main-info {
        text-align: center;
    }
    .main-info_title {
        font-size: 42px;
    }
    .main-info_subtitle {
        font-size: 16px;
    }
    .main-image {
        max-width: 80%;
    }
}