.main {
    margin: 78px 0;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.main-heading {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.main-heading_subtitle {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 20%;
    text-transform: uppercase;
    color: #F54748;
    text-align: center;
}

.main-heading_title {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

.main-select {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    gap: 24px;
}

.main-select_item {
    background-color: #f5f5f5;
    display: flex;
    padding: 12px 30px 12px 17px;
    width: fit-content;
    align-items: center;
    gap: 15px;
    border-radius: 40px;
    color: black;
    transition: 0.2s ease-in-out;
}

.main-select_item:hover {
    background-color: #F54748;
    color: white;
}

.main-select_img {
    width: 42px;
    height: 42px;
    object-fit: cover;
    border-radius: 100%;
}

.main-select_title {
    font-size: 20px;
    font-weight: 500;
}

.main-menu {
    padding: 70px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 57px;
}

.menu-item {
    border: 1px solid #F54748;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.menu-item_img {
    width: 316px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.menu-item_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 13px;
}

.button {
    padding: 9px 33px;
    margin-top: 28px;
    background-color: rgb(190, 190, 190);
    border: none;
}

.button:hover {
    background-color: #F54748;
    color: white;
    border: none;
}

.back-button {
    width: fit-content;
    display: inline-block;
    padding: 20px 41px;
    background-color: #F54748;
    color: white;
    text-decoration: none;
    border-radius: 40px;
    transition: 0.2s ease-in-out;
    border: 1px solid #F54748;
    cursor: pointer;
}

.back-button:hover {
    color: #F54748;
    background-color: transparent;
    border: 1px solid #F54748;
}

.menu-item_title {
    font-size: 24px;
    font-weight: bold;
}

.menu-item_symbol {
    font-size: 20px;
}

.menu-item_price {
    color: #F54748;
    font-size: 38px;
    font-weight: bold;
}

.menu-item_rating {
    display: flex;
    gap: 9px;
    color: #FDC55E;
}

.main-backlink {
    color: #F54748;
    text-decoration: underline;
}